
<%-include('../partials/header.ejs')%>

<%-include('../partials/_navbar.ejs')%>
<div class="container">
    <div class="card card-body">
        <h3>You have successfully submitted the form</h3>
        <h4>Now wait...more amazing options are coming :)</h4>
    </div>
</div>



<%-include('../partials/footer.ejs')%>