
<%-include('partials/header.ejs')%>

<%-include('partials/_navbar.ejs')%>

<div class="container" xmlns="http://www.w3.org/1999/html">
    <h1 style="margin-bottom: 1.5%">About</h1>
    <h2 style="color: green"><u>Indira Gandhi Delhi Technical University for Women</u></h2>
    <img style="margin-top: 1.5%;margin-bottom: 1.5%" src="http://static.learnof.com/learnof/ImageUploads/institute-gallery/original/13305_IndiraGandhiDelhiTechnicalUniversityforWomenIGDTUDelhiIndiraGandhiInstituteofTechnology_1417410930_original.png" border="2%">



    <p style="color: saddlebrown">Indira Gandhi Delhi Technical University for Women (IGDTUW) has been upgraded from Indira Gandhi Institute of Technology in May 2013 vide Delhi State Legislature Act 9, 2012, as a non-affiliating teaching and research University at Delhi to facilitate and promote studies, research, technology, innovation, incubation and extension work in emerging areas of professional education among women, with focus on engineering, technology, applied sciences, management and its allied areas with the objective to achieve excellence in these and related fields.

        <br>
        <br>


        Erstwhile Indira Gandhi Institute of Technology (IGIT) was established in 1998 by Directorate of Training and Technical Education, Govt of N.C.T of Delhi as the first engineering college for women only. From 2002- 2013, the college remained the first and only constituent college of Guru Gobind Singh Indraprastha University.</p>
</div>


<%-include('partials/footer.ejs')%>