<%- include('partials/header.ejs') %>

<%- include('partials/_navbar.ejs') %>


<div class="container">
    <div class="jumbotron text-center">
        <h3 class="display-5">Indira Gandhi Delhi Technical University for Women</h3>
        <img src="https://upload.wikimedia.org/wikipedia/en/4/4e/Indira_Gandhi_Delhi_Technical_University_for_Women_logo.png"
             class="responsive" align="center">
        <p class="lead">Feedback Portal</p>
        <% if(!user){ %>
            <a href="/users/Login" class="btn btn-danger btn-lg">Student Login</a>
            <a href="/users/faculty_login" class="btn btn-danger btn-lg">Faculty Login</a>
        <% } %>
    </div>

</div>


<%- include('partials/footer.ejs') %>