<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>
<div class="row">
    <div class="col-md-7 mx-auto">

        <div  class="card card-body" style="margin-top:2%" >
            <img style="width: 100%; height: 350px; text-align:center" class="card-img-top responsive mb-3" src="https://images.static-collegedunia.com/public/college_data/images/campusimage/1416641450igit.JPG" alt="Card image cap">
            <h3 class="text-center">IGDTUW Batch</h3>
            <br>
            <div class="form-group">
                <label for="sel1">Batch Code</label>
                <select class="form-control" id="sel1">
                    <option>Select</option>
                    <option>02012017</option>
                    <option>02022017</option>
                    <option>02032017</option>
                    <option>02042017</option>
                    <option>02052017</option>
                    <option>02012018</option>
                    <option>02022018</option>
                    <option>02032018</option>
                    <option>02042018</option>
                    <option>02052018</option>
                </select>
            </div>

            <div class="form-group">
                <label for="usr">Name of Faculty</label>
                <input type="text" class="form-control" id="usr">
            </div>



        </div>





    </div>

</div>









































































<%- include('../partials/footer.ejs') %>