<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card" width="70%" style="text-align:center">
            <img class="mb-3" style="align-self: center" height="20%" width="20%" src="https://smedia2.intoday.in/aajtak/images/stories/062015/logo-women-versity-650_060815044459.jpg">
            <h3 class="text-center">Faculty Registration</h3>
            <!-----<form action="/action_page.php">--->
            <div class="form-group form-inline">
                <label for="email">Name: </label>
                <input type="email" class="form-control" id="name" style="width: 100%">
            </div>
                <div class="form-group form-inline">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" id="email" style="width: 100%">
                </div>
            <div class="form-group form-inline">
                <label for="email">Batch Code: </label>
                <input type="email" class="form-control" id="batch" style="width: 100%">
            </div>
                <div class="form-group form-inline">
                    <label for="pwd">Subject Code: </label>
                    <input type="password" class="form-control" id="subject_code" style="width: 100%">
                </div>
            <div class="form-group form-inline">
                <label for="email">Subject Name: </label>
                <input type="email" class="form-control" id="subject_name" style="width: 100%">
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>












        </div>
    </div>
</div>







<%- include('../partials/footer.ejs') %>