<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<div class="container">
<div class="card text-center" style="padding-left: 80px; padding-right: 80px;">
    <img class="card-img-top img-fluid" src="https://cdn.zeebiz.com/sites/default/files/styles/zeebiz_850x478/public/2018/07/21/46223-professor-pixabay.jpg?itok=3R310c2x.jpg"
         alt="Card image cap" style="padding-top: 10px;padding-bottom: 10px; width: 500px; height: 350px auto; align-self: center">
    <div class="card-body">
        <h5 class="card-title">Faculty</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </div>
</div>






















<%- include('../partials/footer.ejs') %>