<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<%if(user.firstUser){%>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Set your password</h3>
            <%if(error_msg && error_msg.length>0){%>
            <div class="alert alert-danger">
                Before you begin , please set a Password. But you can login via Google+ sign in anytime you want.
            </div>
            <%}%>


            <%errors.forEach(function(error){%>
            <div class="alert alert-danger"><%=error.text%></div>
            <%})%>

            <form action="/users/setPassword" method="POST">

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required value="">
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" required value="">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div></div>
<%}%>

<%- include('../partials/footer.ejs') %>