<%- include('../partials/header.ejs') %>
<%- include('../partials/_navbar.ejs') %>

<%if(user.firstUser){%>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Set your password</h3>
            <%if(error_msg && error_msg.length>0){%>
            <div class="alert alert-danger">
                Before you begin , please set a Password. But you can login via Google+ sign in anytime you want.
            </div>
            <%}%>


            <%errors.forEach(function(error){%>
            <div class="alert alert-danger"><%=error.text%></div>
            <%})%>

            <form action="/users/setPassword" method="POST">

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required value="">
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" required value="">
                </div>
                <div class="form-group">
                    <label for="batch">Select Your Batch</label>
                    <select class="form-control" id="criteria1" name="batch">
                        <option>select</option>
                        <option>02012017</option>
                        <option>02022017</option>
                        <option>02032017</option>
                        <option>02042017</option>
                        <option>02052017</option>
                        <option>02012018</option>
                        <option>02022018</option>
                        <option>02032018</option>
                        <option>02042018</option>
                        <option>02052018</option>
                    </select>

                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Student</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Faculty</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Others</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<%}%>

<%- include('../partials/footer.ejs') %>